[submodule "RPA_Challenge"]
	path = RPA_Challenge
	url = https://github.com/UiPath-LAB-TEC/RPA_Challenge.git
[submodule "UIFI_FilterSearch"]
	path = UIFI_FilterSearch
	url = https://github.com/UiPath-LAB-TEC/UIFI_FilterSearch.git
[submodule "SAAC_SentimentAnalysis"]
	path = SAAC_SentimentAnalysis
	url = https://github.com/UiPath-LAB-TEC/SAAC_SentimentAnalysis.git
[submodule "UIEA_Expense_App"]
	path = UIEA_Expense_App
	url = https://github.com/UiPath-LAB-TEC/UIEA_Expense_App.git
